.departments {
    margin-top: 10px;
    background-color: lavender;
    display: flex;
    flex-direction: column;
}

.department {
    display: flex;
    flex-direction: row;
}

.department-name {
    font-weight: bold;
}

.department-info {
    padding: 2px;
    border: 1px solid black;
}